<div class="row">
  <% @users.each_with_index do |user, index| %>
    <div class="user six columns">
      <h5>Name: <%= user['name'] %></h5>
      <h5>Email: <%= user['email'] %></h5>

      <h5>Addresses</h5>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
          </tr>
        </thead>
        <tbody>
          <% user['addresses'].each do |address| %>
            <tr>
              <td><%= address['street_address'] %></td>
              <td><%= address['city'] %></td>
              <td><%= address['state'] %></td>
              <td><%= address['zipcode'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <h5>Employer</h5>
      <div>
        <strong><%= user['employer']['name'] %></strong><br/>
        <img src="<%= user['employer']['logo_url'] %>"><br/>
        <em>"<%= user['employer']['motto'] %>"</em>
      </div>
    </div>

    <% if (index + 1) % 2 == 0 %>
      </div><!-- this ends the row! -->
      <div class="row">
    <% end %>

  <% end %>
</div>
