<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

    <style>
    </style>
  </head>
  <body>
    <div class="row">
    <% @users.each do |user| %>
      <div class="col s4">
        <div class="card teal lighten-5">
          <div class="card-image">
            <image src="<%= user['employer']['logo_url'] %>" />
            <span class="card-title"><%= user['name'] %></span>
          </div>
          <div class="card-content black-text">
            <h5>Address</h5>
            <%= user['email'] %><br/>
            <%= user['address']['street_address'] %><br/>
            <%= user['address']['city'] %>,
            <%= user['address']['state'] %>
            <%= user['address']['zipcode'] %><hr/>
            <h5>Employer</h5>
            <%= user['employer']['name'] %><br/>
            "<%= user['employer']['motto'] %>"<br/>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </body>
</html>
